{% extends "base.html" %}

{% block section %}

    <nav class= "domaineNav">
        <ul class="domaineListPuce">
            <h2 class="navTete"><strong>DOMAINES</strong></h2>
            {% for domaine in domaines %}
            <a href="{% url "list_cours" id=domaine.id slug=domaine.slug %}"
                class="Navia">
                <li class="domainePuce">
                    {% if domaine.Nom == domainechoisie %}
                    <span class= 'domainechoisie'><strong>{{ domaine.Nom }}</strong></span>
                    {% else %}
                        {{ domaine.Nom }}
                    {% endif %}
                </li>
            </a>
            {% endfor %}
        </ul>
    </nav>

     <nav class= "coursNav">
        <ul>
            <h2 class="navTete"><strong>Cours:</strong></h2><h5 class="domaineNom">{{ domaine.Nom }}</h5>
            {% for cour in cours %}
            <a href= "{% url "list_sujet" id=cour.id slug=cour.slug Nom=cour.domaine.Nom %}"
                class= "Navia">
                <li class= "coursPuce">
                    {% if cour.Nom == courchoisie %}
                    <span class= 'courchoisie'><strong>{{ cour.Nom }}</strong></span>
                    {% else %}
                        {{ cour.Nom }}
                    {% endif %}
				</li>
            </a>
            {% empty %}
                <p><strong> Pas de Cours sur cette cet Domaine pour le moment,
                    Merci ! pour votre comprehension.</strong></p>
            {% endfor %}
        </ul>
    </nav>

    <nav class= "sujetNav">
        <ul>
            <h2 class="navTete"><strong>Sujets</strong></h2>
            {% for sujet in sujets %}
            <li class="sujetPuce">
                <strong>Examen :</strong> {{ sujet.cours }},
                <strong>Date: {{ sujet.date |date:"D d M Y"}}</strong>
                <br />
                <a href= "{{ sujet.fichier.url }}" class= "Navia" >
                    <strong id= "sujet">Télechargé</strong>
                </a>

            {% empty %}
                <strong>Pas de sujet pour le moment</strong>
            </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock  %}
