{% extends "base.html" %}

{% block article %}

    <nav class= "sujetnav">
        <ul>
            <h2 class="navTete"><strong>Sujets</strong></h2>
            {% for sujet in sujets %}
            <li class="sujetPuce">
                <strong>Examen :</strong> {{ sujet.cours }},
                <strong>Date: {{ sujet.date |date:"D d M Y"}}</strong>
                <br />
                <a href= "{{ sujet.file.url }}" class= "Navia" >
                    <strong id= "sujet">Télechargé</strong>
                </a>
            
            {% empty %}
                <strong>Pas de sujet pour le moment</strong>
            </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock  %}
