{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "Etudiant/css/style1.css" %}">
{% endblock  %}

{% block section %}

    <nav class= "domaineNav">
        <ul class="domaineListPuce">
            <h2 class="navTete"><strong>Domaines</strong></h2>
            {% for domaine in domaines %}
            <a href="{% url "list_cours" id=domaine.id slug=domaine.slug %}"
                class="Navia">
                <li class="domainePuce">
                    {% if domaine.Nom == domainechoisie %}
                        <span class= 'domainechoisie'><strong>{{ domaine.Nom }}</strong></span>
                    {% else %}
                        {{ domaine.Nom }}
                    {% endif %}
                </li>
            </a>
            {% empty %}
                <em>Pas de cour sur cet domaine pour le moment</em>
            {% endfor %}
        </ul>
    </nav>
    {% comment %} Ici sont afficher les inforamtion de de la page comme les article {% endcomment %}

    <nav class= "coursNav">
        <ul>
            <h2 class="navTete"><strong>Cours</strong></h2><h5 class="domaineNom">{{ domaine.Nom }}</h5>
            {% for cour in cours %}
            <a href= "{% url "list_sujet" id=cour.id slug=cour.slug Nom=cour.domaine.Nom %}"
                class= "Navia">
                <li class= "coursPuce">
                    <!-- <strong>{{ cour.Nom }}</strong> -->
                    {% if cour.Nom == courchoisie %}
                    <span class= 'courchoisie'><strong>{{ cour.Nom }}</strong></span>
                    {% else %}
                        {{ cour.Nom }}
                    {% endif %}
                </li>
            </a>
            {% empty %}
                <p><strong> Pas de Cours sur cette cet Domaine pour le moment,
                    Merci ! pour votre comprehension.</strong></p>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}
