/* La page */
body{
    width: 100%;
    background-image: url('2.jpg');
    /* border: 3px solid gray; */
    /* font-family: sans-serif, Impact, Arial, Haettenschweil; */
    margin: auto;
    /* height: 1500px; */
	/* min-height: 100%; */
}

#page{
    /* width: 65%; */
    position: absolute;
    top: 0px;
    bottom: 5px;
    left: 15%;
    right: 15%;
    /* margin-top: 0%; */
    width: 70%;
    /* background-image: url('4.jpg'); */
	background-color: wheat;
    /* border: 3px solid gray; */
    font-family: sans-serif, Impact, Arial, Haettenschweil;
    margin: auto;
    height: 100%;
	/* min-height: 100%; */
}

/* Titre de la page */
.Title{
    text-align: center;
    font-family: sans-serif, Impact, Arial, Haettenschweil;
    color: aqua;
}

/* Le slogan en dessous du titre */
#slogan{
    font-style: italic;
}


/* Le corps de la page */
section{
	width: 95%;
    display: flex;
    border-radius: 15px;
    box-shadow:  1px 6px 6px 1px  grey;
    /* margin: auto; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.navTete{
    text-align: center;
    text-decoration: underline;
}

.domaineNom{
    text-align: center;
    color: rgba(115, 219, 219, 0.616);
}
/* *************** DOMAINE CSS ********** */

/* Le navigateur affichants les domaines  */
.domaineNav{
    width: 40%;
    /* background-color: yellow; */
    border-right: 3px dotted gray;
    text-align: center;
    /* padding-left: 1px; */
    margin-top: 20px;
    /* margin: auto; */
    /* height: 350px; */
}

.dNav{
    width: 60%;
    /* background-color: yellow; */
    text-align: center;
    /* padding-left: 1px; */
    margin-top: 20px;
    margin: auto;
    /* height: 350px; */
}

/* le puce de la navigation */
.domaineListPuce{
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    /* width: 100%; */
    justify-content: space-between;
	/* margin: auto; */
}

/* la liste a puce de la navigation les domaines */
.domainePuce{
    /* background-color: wheat; */
    color: black;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px gray;
    list-style-type: none;
    margin-top: 15px;
}

.domainePuce:hover
{
    background-color: rgb(70, 55, 55)
}


.Navia{
    color: rgb(19, 17, 17) ;
    text-decoration: none;
  }

/* *****************  COURS CSS *********** */
section article{
    /* background-color: aquamarine; */
    /* text-align: center; */
    /* text-align: justify; */
    width: 60%;
    margin: auto;
}

.coursNav{
    border-right: 3px dotted gray;
}

.coursPuce{
    margin-right: 10px;
    /* flex-direction: column; */
    list-style-type: none;
    /* padding: 10px; */
    text-align: center;
    /* background-color:  rgba(240, 238, 238, 0.836); */
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px gray;
    margin-top: 20px;
}

.coursPuce:hover
{
    background-color: bisque;
}
/* ******************** SUJET CSS *************** */

.sujetPuce{
    margin-right: 10px;
    /* flex-direction: column; */
    list-style-type: none;
    /* padding: 10px; */
    text-align: center;
    /* background-color:  rgba(240, 238, 238, 0.836); */
    margin-top: 20px;
}
#sujet{
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px gray;
}

#sujet:hover{
    background-color: aqua;
}


footer
{
    border-radius: 15px;
    box-shadow:  0px 6px 6px 0px  grey;
    margin-top: 120px;
    text-align: center;
}
