<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static Etudiant_extras %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
        <link rel="stylesheet" href="{% static "Etudiant/css/style1.css" %}">
    {% endblock  %}
    <title>Document</title>
</head>

<body>
{% block body %}
    <div id= "page">
        {% comment %} Tête de la page {% endcomment %}
        <header class= "Title" >
        {% block header %}
            <h1>Etudiant.ml</h1>
            <p>
                <h3 id= "slogan">{{ "Le meilleur moment n'arrive jamais!"|citation}}</h3>
            </p>
        {% endblock %}
        </header>
        <br />

        {% comment %} Corp de la page {% endcomment %}

       <section>
       {% block section %} {% comment %} Navigatuer {% endcomment %}
            <nav class= "dNav">
                <ul class="domaineListPuce">
                    <h2 class="navTete"><strong>DOMAINES</strong></h2>
                    {% for domaine in domaines %}
                    <a href="{% url "list_cours" id=domaine.id slug=domaine.slug %}"
                        class="Navia">
                        <li class="domainePuce">
                            {% if domaine.Nom == domainechoisie %}
                                <span class= 'domainechoisie'><strong>{{ domaine.Nom }}</strong></span>
                            {% else %}
                                {{ domaine.Nom }}
                            {% endif %}
                        </li>
                    </a>
                    {% empty %}
                        <em>Pas de domaine Pour le moment</em>
                    {% endfor %}
                </ul>
            </nav>
       {% endblock %}
       </section>

        <br />
        <br />

        <div id= "button">
            <div>Pour plus d'inforamtion</div>
            <div>Connexion</div>
        </div>

        <footer>
            <nav >
            {% block nav2 %}
                <h2 class="nav_tete">Divertissements</h2>
                <ul>
                    <p>
                        N'hesité pas de vous relaxé apres un dure job !
                        Voici certaines lien don't nous croyons ferons votre
                        bonheur !
                    </p>
                </ul>
            {% endblock  %}
            </nav>

            {% comment %} Pied de la page {% endcomment %}
            {% block footer %}

            <div>
                <h2>TOUJOURS en developpement</h2>
            </div>

            {% endblock footer %}
        </footer>
    </div>
{% endblock %}
</body>

</html>
