<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "Etudiant/css/style1.css" %}">
    <title>Document</title>
</head>

<body>
{% block body %}
    <div id= "page">
        {% comment %} Tête de la page {% endcomment %}
        <header class= "Title" >
        {% block header %}
            <h1>Etudiant.ml</h1>
            <p>
                <h3 id= "slogan">Le meilleur moment n'arrive jamais</h3>
            </p>
        {% endblock %}
        </header>

        {% comment %} Corp de la page {% endcomment %}

        <section>
        {% block section %} {% comment %} Navigatuer {% endcomment %} {% block nav %}
            <nav>
                <ul>
                    <h2 class="nav_tete">Domaines</h2>
                    {% for domaine in domaines %}
                    <li class="Ndomaine">
                        <a href="{% url "list_cours" domaine.id %}" class="Na">{{ domaine.Nom }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endblock nav %} {% comment %} Ici sont afficher les inforamtion de de la page comme les article {% endcomment %}
            <article>
            {% block article %}
                <p>
                    Il fallais y metre qlq chose ici pour tester les chose ! je suis la a ecrire qlq chose qui me passe par la tete et ce qui me passe par la tet est that I write now, yes i'm passe in englih i think with's this will be more funny or not, but w'll seen that
                    not make late ! Il fallais y metre qlq chose ici pour tester les chose ! je suis la a ecrire qlq chose qui me passe par la tete et ce qui me passe par la tet est that I write now, yes i'm passe in englih i think with's this will be
                    more funny or not, but w'll seen that not make late ! Il fallais y metre qlq chose ici pour tester les chose ! je suis la a ecrire qlq chose qui me passe par la tete et ce qui me passe par la tet est that I write now, yes i'm passe
                    in englih i think with's this will be more funny or not, but w'll seen that not make late ! Il fallais y metre qlq chose ici pour tester les chose ! je suis la a ecrire qlq chose qui me passe par la tete et ce qui me passe par la tet
                    est that I write now, yes i'm passe in englih i think with's this will be more funny or not, but w'll seen that not make late ! Il fallais y metre qlq chose ici pour tester les chose ! je suis la a ecrire qlq chose qui me passe par
                    la tete et ce qui me passe par la tet est that I write now, yes i'm passe in englih i think with's this will be more funny or not, but w'll seen that not make late ! Il fallais y metre qlq chose ici pour tester les chose ! je suis
                    la a ecrire qlq chose qui me passe par la tete et ce qui me passe par la tet est that I write now, yes i'm passe in englih i think with's this will be more funny or not, but w'll seen that not make late !

                </p>
            {% endblock article %} 
            </article>
        {% endblock section %}    
        </section>
        
        <nav>    
        {% block nav2 %}
            <ul>
                <h2 class="nav_tete">Domaine</h2>
                {% for domaine in domaines %}
                <ol><a href="{% url "list_cours" domaine.id %}">{{ domaine.Nom }}</a></ol>
                {% endfor %}
            </ul>
        {% endblock  %}
        </nav>
     
        {% comment %} Pied de la page {% endcomment %}
        <footer>
            {% block footer %}

            <div>
                <h2>ICI PIED DE LA PAGE </h2>
            </div>

            {% endblock footer %}
        </footer>    
    </div>
{% endblock %}
</body>

</html>